<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
<h2>Vincular una nueva actuacion con una película:</h2>
        <div > 
            <form action="/movies/actorMovie" method="POST">  
                <label for = "movie_id"><h6>Titulo de la Pelicula :</h6>
                    <select name="movie_id">
                        <% for(let i=0; i< peliculas.length; i++){ %> 
                                    <option value="<%= peliculas[i].id%>">
                                        <%= peliculas[i].title%>
                                    </option>
                        <%  } %> 
                    </select>
                </label>

                <label for = "actor_id"><h6>Actuacion a vincular:</h6>
                    <select name="actor_id">
                        <% for(let i=0; i< actores.length; i++){ %> 
                                    <option value="<%= actores[i].id%>">
                                        <%= actores[i].first_name%> <%= actores[i].last_name%>
                                    </option>
                        <%  } %> 
                    </select>
                </label>
                <div>
                    <button id="create" type="submit">Vincular</button>
                    <button  id="borrar" type="reset">Borrar</button>
                </div>
            </form>
        </div>
</body>
<%- include('./partials/footer') %>